@model IEnumerable<SGICInfoSystem.Models.DisplayFilterModel>

@{
    Layout = "~/Views/Shared/_LayoutUz.cshtml";
    ViewBag.Title = "Фильтр";
}

@using (Html.BeginForm("DisplayFilterUz", "Home"))
{
    <table id="filterTable" class="table">
        <tr>
            <th>
                @Html.Label("Тури")
            </th>
            <th>
                @Html.Label("Рақам")
            </th>
            <th>
                @Html.Label("Асосий рукни")
            </th>
            <th>
                @Html.Label("Қўшимча рукни")
            </th>
            <th>
                @Html.Label("Муаллиф")
            </th>
            <th>
                @Html.Label("Номи")
            </th>
            <th>
                @Html.Label("Ташкилот")
            </th>
            <th>
                @Html.Label("Шаҳар")
            </th>
            <th>
                @Html.Label("Йил")
            </th>
            <th>
                @Html.Label("Бетлар")
            </th>
            <th>
                @Html.Label("Иллюстрациялар")
            </th>
            <th>
                @Html.Label("Асосий сўзлар")
            </th>
            <th>
                @Html.Label("Реферат")
            </th>
            <th>
                @Html.Label("Сақлаш жойи")
            </th>
            <th></th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Display)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tema1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tema2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aftor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Org)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.God)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Str)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ilustr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slova)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Referat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesto)
                </td>
                <td>
                    @Html.ActionLink("Ўзгартириш", "EditDisplayUz", new { display = item.Display })
                </td>
            </tr>
        }

    </table>

}
