@using Microsoft.AspNet.Identity
@using SGICInfoSystem.Models;
@model IEnumerable<SGICInfoSystem.Models.UzEssay>
<script type="text/javascript">
        $(document).ready(function () {
            //$('#dataTable').DataTable();
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
            });
        });
</script>
@{
    DisplayFilterModel filter;
    if (Session["DisplayFilter"] != null)
    {
        filter = ((List<DisplayFilterModel>)Session["DisplayFilter"]).Find(m => m.Display == "Таблица");
    }
    else
    {
        filter = new DisplayFilterModel("Таблица").DefaultDisplayFilter();
    }
}
@if (User.Identity.GetUserName() == "Admin")
{
    <p>
        @Html.ActionLink("Қўшиш", "CreateUz")
    </p>
}
<p>
    Ёзувлар: @ViewBag.Count
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            @if(User.Identity.GetUserName() == "Admin")
            {
                <th></th>
            }
            <th></th>
            <th><input type="checkbox" id="checkBoxAll" /></th>
            @if (filter.nomer)
            {
                <th>
                    @Html.DisplayNameFor(model => model.nomer)
                </th>}
            @if (filter.tema1)
            {
                <th>
                    @Html.DisplayNameFor(model => model.tema1)
                </th>
            }
            @if (filter.tema2)
            {
                <th>
                    @Html.DisplayNameFor(model => model.tema2)
                </th>
            }
            @if (filter.Aftor)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Aftor)
                </th>
            }
            @if (filter.Naz)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Naz)
                </th>
            }
            @if (filter.Org)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Org)
                </th>
            }
            @if (filter.Gorod)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Gorod)
                </th>
            }
            @if (filter.God)
            {
                <th>
                    @Html.DisplayNameFor(model => model.God)
                </th>
            }
            @if (filter.Str)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Str)
                </th>
            }
            @if (filter.Ilustr)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Ilustr)
                </th>
            }
            @if (filter.Slova)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Slova)
                </th>
            }
            @if (filter.Referat)
            {

                <th>
                    @Html.DisplayNameFor(model => model.Referat)
                </th>
            }
            @if (filter.Referat)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Mesto)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                @if(User.Identity.GetUserName() == "Admin")
                {
                    <td>
                        @Html.ActionLink("Ўзгартириш", "EditEssayUz", new { id = item.Id }) |
                        @Html.ActionLink("Олиб ташлаш", "DeleteUz", new { id = item.Id })
                    </td>
                }
                <td>
                    @Html.ActionLink("Кўриш", "DetailsUz", new { id = item.Id })
                </td>
                <td><input type="checkbox" class="chkCheckBoxId" name="ID" value="@item.Id" /></td>
                @if (filter.nomer)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.nomer)
                </td>}
                @if (filter.tema1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.tema1)
                    </td>
                }
                @if (filter.tema2)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.tema2)
                    </td>
                }
                @if (filter.Aftor)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Aftor)
                    </td>
                }
                @if (filter.Naz)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Naz)
                    </td>
                }
                @if (filter.Org)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Org)
                    </td>
                }
                @if (filter.Gorod)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Gorod)
                    </td>
                }
                @if (filter.God)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.God)
                    </td>
                }
                @if (filter.Str)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Str)
                    </td>
                }
                @if (filter.Ilustr)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Ilustr)
                    </td>
                }
                @if (filter.Slova)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Slova)
                    </td>
                }
                @if (filter.Referat)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Referat)
                    </td>
                }
                @if (filter.Mesto)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Mesto)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>