@model PagedList.IPagedList<SGICInfoSystem.Models.UzEssay>
@using Microsoft.AspNet.Identity
@using SGICInfoSystem.Helpers
@using PagedList.Mvc;
@using SGICInfoSystem.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_LayoutUz.cshtml";
    ViewBag.Title = "Рефератлар";
    DisplayFilterModel filter;
    if (Session["DisplayFilter"] != null)
    {
        filter = ((List<DisplayFilterModel>)Session["DisplayFilter"]).Find(m => m.Display == "Таблица");
    }
    else
    {
        filter = new DisplayFilterModel("Таблица").DefaultDisplayFilter();
    }
}


<style>
    .cell {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
    }

    td {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
    }
    /* Меню боковой панели */
    .searchpan {
        height: 100%; /* Полная высота: удалите это, если вы хотите "авто" высота */
        width: 250px; /* Установите ширину боковой панели */
        position: fixed; /* Фиксированная боковая панель (оставайтесь на месте при прокрутке) */
        z-index: 2; /* Оставайтесь с верху */
        top: 0; /* Оставайтесь на вершине */
        left: 0;
        /*background-color: #111;*/ /* Черный */
        overflow: scroll;
        padding-top: 50px;
        background-color: white;
    }

    .toolbar {
        width: 100%;
        height: 75px;
        position: fixed;
        z-index: 1; /* Оставайтесь с верху */
        bottom: 0; /* Оставайтесь снизу */
        right: 0;
        overflow: auto;
        background-color: white;
        padding-left: 250px;
    }

        .toolbar input {
            margin: 10px;
            /*background-color: lightgray;*/
        }
       /*.btn-default{
            background-color: lightgray;
        }*/

    div.container.body-content {
        margin-left: 0px;
    }

    .main {
        margin-left: 250px;
        padding: 0px 10px;
        padding-bottom: 75px;
        /*overflow-x: scroll;*/
    }




    .searchpan div {
        padding: 2px 8px 2px 16px;
        text-decoration: none;
        /*font-size: 25px;*/
        color: #818181;
        display: block;
    }

    .divinline div {
        display: inline;
    }

    .divinline label {
        font-size: 10px;
    }

    input[type="radio"] {
    }

    .chkCheckBoxId {
    }

    .pagination-container {
        z-index: 0;
    }
</style>
<div class="searchpan" id="searchpan">
    @*@using (Html.BeginForm())*@
    @using (Ajax.BeginForm("EssaySearchUz", new AjaxOptions { UpdateTargetId = "mainTable" }))
    
{
        <div class="divinline">
            @Html.CheckBox("cbNumber")
            @Html.Label("lblNumber", "Рақами")
        </div>
        <div class="divinline">
            @Html.TextBox("tbNumber", null, new { @class = "searchinput" })
        </div>

        <div class="divinline">
            @Html.CheckBox("cbToNumber")
            @Html.Label("lblToNumber", "Рақамгача")
        </div>
        <div class="divinline">
            @Html.TextBox("tbToNumber", null, new { @class = "searchinput" })
        </div>

        <div class="divinline">
            @Html.CheckBox("cbrubrika")
            @Html.Label("lblrubrika", "Рубрика")
        </div>
        <div class="divinline">
            @Html.TextBox("tbrubrika", null, new { @class = "searchinput" })
        </div>

        <div class="divinline">
            @Html.CheckBox("cbauthor")
            @Html.Label("cbauthor", "Муаллиф")
        </div>
        <div class="divinline">
            @Html.TextBox("tbauthor", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbnaz")
            @Html.Label("cbnaz", "Номи")
        </div>
        <div class="divinline">
            @Html.TextBox("tbnaz", null, new { @class = "searchinput" })
        </div>

        <div class="divinline">
            @Html.CheckBox("cborg")
            @Html.Label("cborg", "Ташкилот")
        </div>
        <div class="divinline">
            @Html.TextBox("tborg", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbgorod")
            @Html.Label("cbgorod", "Шаҳар")
        </div>
        <div class="divinline">
            @Html.TextBox("tbgorod", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbgod")
            @Html.Label("lblgod", "Йил")
        </div>
        <div class="divinline">
            @Html.TextBox("tbgod", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbtogod")
            @Html.Label("lbltogod", "йилгача")
        </div>
        <div class="divinline">
            @Html.TextBox("tbtogod", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbslova")
            @Html.Label("lblslova", "Асосий сўзлар")
        </div>
        <div class="divinline">
            @Html.RadioButton("rbslova", "and", true)
            @Html.Label("and", "И")
            @Html.RadioButton("rbslova", "or")
            @Html.Label("or", "ИЛИ")
            @Html.RadioButton("rbslova", "complex")
            @Html.Label("Сложный", "Сложный")
        </div>
        <div class="divinline">
            @Html.TextBox("tbslova", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbexslova")
            @Html.Label("lblexslova", "Чиқариб ташлаш")
        </div>
        <div class="divinline">
            @Html.RadioButton("rbexslova", "И", true)
            @Html.Label("И", "И")
            @Html.RadioButton("rbexslova", "ИЛИ")
            @Html.Label("ИЛИ", "ИЛИ")
            @Html.RadioButton("rbexslova", "Сложный")
            @Html.Label("Сложный", "Сложный")
        </div>
        <div class="divinline">
            @Html.TextBox("tbexslova", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbaccuracy")
            @Html.Label("lblaccuracy", "Точный поиск")
        </div>
        <div class="divinline">
            @Html.CheckBox("cbreferat")
            @Html.Label("cbreferat", "Реферат")
        </div>
        <div class="divinline">
            @Html.TextBox("tbreferat", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            @Html.CheckBox("cbplace")
            @Html.Label("cbplace", "Сақлаш жойи")
        </div>
        <div class="divinline">
            @Html.TextBox("tbplace", null, new { @class = "searchinput" })
        </div>
        <div class="divinline">
            <input type="submit" value="Излаш" class="btn btn-default" />
        </div>
    }

</div>
@using (Html.BeginForm("ActionHandlersUz", "Home"))
{
<div class="toolbar">
    <input type="submit" id="btnWord" name="Word" value="Ҳисобот" class="btn btn-default" />
    @if (User.Identity.GetUserName() == "Admin")
    {
        <input type="submit" id="btnDeleteChecked" name="DeleteChecked" value="Олиб ташлаш" class="btn btn-default" />
        <input type="submit" id="btnDuplicate" name="Duplicate" value="Такрорлар" class="btn btn-default" />
        <input type="submit" id="btnLog" name="Log" value="Журнал" class="btn btn-default" />
        @*@Html.ActionLink("Такрорлар", "IndexUz", "Duplicate", null, new { @class = "btn btn-default" })*@
    }
    @*<input type="submit" id="btnWord2" name ="Word2" value="Word2" class="btn btn-default" />
    <input type="button" value="Word2" onclick="location.href='@Url.Action("ReportWord", "Home")'" />
        <button id="btnDeleteChecked" name="action" value="deleteChecked" class="btn btn-default">Удалить выбранные</button>
        @Html.ActionLink("Удалить выбранные", "DeleteMultiple", "Home", null, new { @class = "btn btn-default" })*@
</div>
<div class="main" id="mainTable">
   @* @Html.Partial("Search")*@

    @if (User.Identity.GetUserName() == "Admin")
    {
        <p>
            @Html.ActionLink("Қўшиш", "CreateUz")
        </p>
    }
    <p>
        Ёзувлар: @ViewBag.Count
    </p>
    <table class="table" id="dataTable">
        <thead>
            <tr>
                @if (User.Identity.GetUserName() == "Admin")
                {
                    <th></th>
                }
                <th></th>
                <th><input type="checkbox" id="checkBoxAll" /></th>
                @if (filter.nomer)
                {
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().nomer)
                </th>}
                @if (filter.tema1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().tema1)
                    </th>
                }
                @if (filter.tema2)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().tema2)
                    </th>
                }
                @if (filter.Aftor)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Aftor)
                    </th>
                }
                @if (filter.Naz)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Naz)
                    </th>
                }
                @if (filter.Org)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Org)
                    </th>
                }
                @if (filter.Gorod)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Gorod)
                    </th>
                }
                @if (filter.God)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().God)
                    </th>
                }
                @if (filter.Str)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Str)
                    </th>
                }
                @if (filter.Ilustr)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Ilustr)
                    </th>
                }
                @if (filter.Slova)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Slova)
                    </th>
                }
                @if (filter.Referat)
                {

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Referat)
                    </th>
                }
                @if (filter.Mesto)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Mesto)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.Identity.GetUserName() == "Admin")
                    {
                        <td>
                            @Html.ActionLink("Ўзгартириш", "EditEssayUz", new { id = item.Id }) |
                            @Html.ActionLink("Олиб ташлаш", "DeleteUz", new { id = item.Id })
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Кўриш", "DetailsUz", new { id = item.Id })
                    </td>
                    <td><input type="checkbox" class="chkCheckBoxId" name="ID" value="@item.Id" /></td>
                    @if (filter.nomer)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.nomer)
                    </td>}
                    @if (filter.tema1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.tema1)
                        </td>
                    }
                    @if (filter.tema2)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.tema2)
                        </td>
                    }
                    @if (filter.Aftor)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Aftor)
                        </td>
                    }
                    @if (filter.Naz)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Naz)
                        </td>
                    }
                    @if (filter.Org)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Org)
                        </td>
                    }
                    @if (filter.Gorod)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Gorod)
                        </td>
                    }
                    @if (filter.God)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.God)
                        </td>
                    }
                    @if (filter.Str)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Str)
                        </td>
                    }
                    @if (filter.Ilustr)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Ilustr)
                        </td>
                    }
                    @if (filter.Slova)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Slova)
                        </td>
                    }
                    @if (filter.Referat)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Referat)
                        </td>
                    }
                    @if (filter.Mesto)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Mesto)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    Бет @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Model.PageCount дан

    @Html.PagedListPager(Model, page => Url.Action("TableUz", new { page }))
</div>
}
<script>
    @*@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")*@
    //$(document).ready(function () {
    //    $('#example').DataTable({
    //        "scrollY": 200,
    //        "scrollX": true
    //    });
    //});

    //$(document).ready(function () {
    //    $("#btnSearch").click(function () {

    //        $.ajax(
    //        {
    //            type: "POST", //HTTP POST Method
    //            url: "Home/Table", // Controller/View
    //            data: { //Passing data
    //                //Reading text box values using Jquery
    //                form: $("#searchForm").serializeArray()
    //            }
    //        }).success(function() {
    //            $("#theTable").load("/YourControllerName/TableData");
    //        });
    //    });
    //});
</script>
